@font-face {
	font-family: jetBrainsMono;
	src: url(resources/fonts/webfonts/JetBrainsMono-Regular.woff2);
}
@font-face {
	font-family: jetBrainsMono;
	src: url(resources/fonts/webfonts/JetBrainsMono-ExtraBold.woff2);
	font-weight: 800;
}
:root {
	--color-main: black;
	--color-accent: #888;
	--color-link: blue;
	--color-background: white;
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-main: white;
		--color-background: black;
	}
}
html {
	min-height: 100%;
}
body {
	font-size: 1em;
	font-family: jetBrainsMono;
	font-display: block;
	line-height: 1.25em;
	tab-size: 4;
	color: var(--color-main);
	background-color: var(--color-background);
	margin: 0;
	display: flex;
	flex-direction: column;
}
a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.active {
	color: var(--color-main);
	font-weight: 800;
}
p {
	margin: 0;
}
p + p {
	margin-top: 1em;
}
.center {
	text-align: center;
}
/* Header */
table.header {
	margin: 2em 0 0 3em;
	font-weight: 800;
}
table.header td.main {
	font-size: 150%;
}
table.header td.sub {
	color: var(--color-accent);
}
/* Tab Bar */
table.tabs {
	margin: 0.5em 0 1.5em 3.5em;
}
table.tabs td a {
	margin: 0.25em 0.5em;
}
/* Text Body */
main {
	margin: 0 auto;
	width: calc(100% - 6em);
	max-width: 80ch;
}
/* Footer */
.footer {
	color: var(--color-accent);
	max-width: calc(100% - 8em);
	margin: 1em auto;
}
