@font-face {
	font-family: jetBrainsMono;
	src: url(fonts/webfonts/JetBrainsMono-Regular.woff2);
}
@font-face {
	font-family: jetBrainsMono;
	src: url(fonts/webfonts/JetBrainsMono-ExtraBold.woff2);
	font-weight: 800;
}
@font-face {
	font-family: jetBrainsMono;
	src: url(fonts/webfonts/JetBrainsMono-Light.woff2);
	font-weight: 300;
}
:root {
	--color-main: black;
	--color-accent: #888;
	--color-link: blue;
	--color-background: white;
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-main: white;
		--color-background: black;
	}
}
* {
	font-size: 1em;
	font-family: jetBrainsMono;
	color: var(--color-main);
	tab-size: 4;
	line-height: 1.25em;
}
h1 {
	font-weight: 800;
}
body {
	background-color: var(--color-background);
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
table.header {
	margin: 2em 0 0 2em;
	font-weight: 800;
}
table.header td.main {
	font-size: 175%;
}
table.header td.sub span {
	color: var(--color-accent);
}
table.tabs {
	padding: 1em 0 1em 2em;
	display: unset;
}
table.tabs td a {
	padding: 0.25em;
	margin: 0 0.25em;
}
a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.active {
	color: var(--color-main);
	font-weight: 800;
}
.ascii-art {
	margin: 0;
	text-align: center;
}
.body-text {
 flex: 1;
	margin: 0 4em;
 max-width: calc(100%-10em);
}
.footer {
	text-align: center;
	color: var(--color-accent);
	margin: 0 0 6em 0;
}
.footer a {
	margin: 0 1em 0 0;
}
.footer p {
	color: var(--color-accent);
}
.center {
	text-align: center;
}
.button {
	display: inline-block;
	margin: 0;
}
