table, tr, td, th {
	border: none;
	border-collapse: collapse;
	text-align: left;
	vertical-align: top;
}
th:nth-child(1), td:nth-child(1) {
	border-right-style: solid;
	border-right-width: 1px;
	text-align: right;
}
td:nth-child(2) {
	text-transform: capitalize;
}
@media (max-width: 600px) {
	th, td {
		padding-left: 0ch;
	}
	th:nth-child(1), td:nth-child(1) {
		display: none;
	}
}
