a.big {
	height: 3em;
	display: flex;
	justify-content: left;
	align-items: center;
	/* border: thin solid var(--color-link); */
	/* border-radius: 4px; */
	flex-grow: 1;
	margin: 0 1em 1em 0;
	padding: 0 1em;
}
.ico-img {
	height: 1.5em;
	margin-right: 1ch;
	outline: 0 !important;
}
#links {
	display: flex;
	flex-wrap: wrap;
}
