/* Fonts */
@font-face {
	font-family: jetBrainsMono;
	src: url('/fonts/JetBrainsMono-Regular.woff2');
	font-display: block;
}
@font-face {
	font-family: jetBrainsMono;
	src: url('/fonts/JetBrainsMono-ExtraBold.woff2');
	font-weight: 800;
	font-display: swap;
}

/* Color Schemes */
:root {
	--color-dark: #1d1f21;
	--color-light: #ffffff;
	--color-main: var(--color-dark);
	--color-background: var(--color-light);
	--color-link: #f1054c;
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--color-dark);
		--color-main: var(--color-light);
	}
}

/* General Styling */
body {
	background-color: var(--color-background);
	font-family: jetBrainsMono;
	line-height: 1.3;
	tab-size: 4;
	color: var(--color-main);
	margin: 0;
}
h1 {
	font-weight: 800;
	font-size: 175%;
}
h2 {
	font-weight: 800;
	font-size: 150%;
}
a {
	display: inline-block;
	color: var(--color-link);
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	& img {
		outline: thin solid;
	}
	&:focus img {
		outline: none;
	}
}
/* a:focus img { */
/* 	outline: none; */
/* } */
button {
	background-color: unset;
	color: var(--color-link);
	border: thin solid var(--color-link);
	border-radius: 4px;
	&:hover {
		text-decoration: underline;
	}
}
p {
	text-transform: lowercase;
}
ul {
	list-style-type: "- ";
	list-style-position: outside;
	padding: 0 0 0 2ch;
}
img {
	max-width: 100%;
	box-sizing: border-box;
}
td, th {
	text-align: left;
	padding: 0.5em;
}
table, td, th {
	border: thin solid;
	border-collapse: collapse;
}
.table, .overflow {
	overflow-x: scroll;
	scrollbar-color: var(--color-link) rgba(0, 0, 0, 0);
	scrollbar-width: thin;
}
.sidecomp {
	float: right;
	clear: right;
	min-width: 100px;
	max-width: 20%;
	margin: 0 0 1em 1em;
	padding: 0.2em;
	border: thin solid white;
}
:focus {
	border-color: transparent !important;
	outline: thin solid white;
}

/* Header */
.skipToMain {
	position: absolute;
	left: -10000px;
	top: auto;
	overflow: hidden;
}
.skipToMain:focus {
	left: 0;
	top: 0;
}
header {
	margin: 2em 0 1.5em 3em;
}
#header-main {
	font-weight: 800;
	margin: 0;
}
#header-title {
	margin-left: 1ch;
}
#header-sub {
	color: var(--color-link);
}
#header-tabs {
	margin-top: 0.75em;
}
#header-tabs a {
	padding-right: 1ch;
}


/* Text Body */
main {
	margin: 0 auto;
	width: calc(100% - 6em);
	max-width: 80ch;
}

/* Footer */
Footer {
	margin: 2em auto 1em auto;
}
.center {
	text-align: center;
}
/* Mobile Adjustments */
@media (max-width: 600px) {
	h1 {
		font-size: 145%;
	}
	h2 {
		font-size: 130%;
	}
	a {
		text-decoration: underline;
	}
}
