/* Fonts */
@font-face {
	font-family: jetBrainsMono;
	src: url('/fonts/JetBrainsMono-Regular.woff2');
	font-display: block;
}
@font-face {
	font-family: jetBrainsMono;
	src: url('/fonts/JetBrainsMono-ExtraBold.woff2');
	font-weight: 800;
	font-display: swap;
}

/* Color Schemes */
:root {
	--color-main: black;
	--color-link: #f00;
	--color-background: white;
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-main: white;
		--color-background: black;
	}
}

/* General Styling */
html, body {
	background-color: var(--color-background);
}
body {
	font-size: 1em;
	font-family: jetBrainsMono;
	line-height: 1.3;
	tab-size: 4;
	color: var(--color-main);
	margin: 0;
	word-break: break-word;
}
h1 {
	font-weight: 800;
	font-size: 175%;
}
h2 {
	font-weight: 800;
	font-size: 150%;
}
h3 {
	font-weight: 800;
	font-size: 125%;
}
h4 {
	font-weight: 800;
	font-size: 100%;
}
a {
	color: var(--color-link);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
button {
	background-color: unset;
	color: var(--color-link);
	border: solid thin var(--color-link);
	border-radius: 4px;
}
button:hover {
	text-decoration: underline;
}
p {
	/*margin: 0;*/
	text-transform: lowercase;
}
/*p + p {
	margin-top: 1em;
}*/
.center {
	text-align: center;
}
/*ul + p {
	margin-top: 1em;
}*/
ul {
	list-style-type: "-";
	padding: 0;
	margin: 0 0 0 1ch;
}
li {
	margin-left: 1ch;
   padding-left: 0;
   text-indent: 1ch;
}

/* Tables */
th {
	text-align: left;
}
td {
  /* border-collapse: collapse; */
	padding-right: 1em;

}

/* Header */
.skipToMain {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.skipToMain:focus {
	left: 0;
	top: 0;
	width: auto;
	height: auto;
}
header {
	margin: 2em 0 1.5em 3em;
}
#header-main {
	font-weight: 800;
	margin: 0;
}
#header-title {
	margin-left: 1ch;
}
#header-sub {
	color: var(--color-link);
}
#header-tabs {
	margin-top: 0.75em;
	/*	width: max-content;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;*/
}
#header-tabs a {
	padding-right: 1ch;
}


/* Text Body */
main {
	margin: 0 auto;
	width: calc(100% - 6em);
	max-width: 80ch;
}

/* Footer */
Footer {
	max-width: calc(100% - 8em);
	margin: 2em auto 1em auto;
}
/* Mobile Adjustments */
@media (max-width: 600px) {
	h1 {
		font-size: 145%;
	}
	h2 {
		font-size: 130%;
	}
	h3 {
		font-size: 115%;
	}
	h4 {
		font-size: 100%;
	}
	a {
		text-decoration: underline;
	}
}
