#sitemap a {
	margin-right: 1em;
}
.h-card {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	padding: 0.5em;
	float: right;
	margin: 0 0 2em 2em;
	border: thin solid;
}
.u-photo {
	max-height: 6.5em;
	grid-row: span 5;
	padding-right: 0.5em;
}
.u-url {
	display: none;
}
@media (max-width: 600px) {
	.h-card {
		float: none;
		margin: 0 0 1em 0;
	}
}
#amb-button {
	padding: 2px;
}

.buttons {
	display: flex;
	flex-flow: wrap;
	& a {
		width: 88px;
		height: 31px;
		padding: 0 0.5em 0.5em 0;
	}
}
img.button {
	outline: none;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}
