.web-home {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;
}

#clock {
	grid-row: 1;
	grid-column: span 2;

	font-size: 4em;
	font-weight: 800;
	align-content: center;
	margin: auto;
}
#clock-text{
	margin: 0;
}

#weather {
	grid-row: 1;
	grid-column: 3 / span 3;
}

#ddg-search {
	grid-row: 2;
	grid-column: 1 / span 5;
}
#ddg-search-form {
	display: flex;
	height: 3em;
}
.search-input {
	flex-grow: 1;
	background-color: unset;
	color: var(--color-main);
	border: solid thin var(--color-link);
	border-radius: 4px;
	text-indent: 3em;
}
.search-button  {
	margin-left: 1em;
	padding: 0 3em;
}

#shortcuts {
	grid-row: 3;
	grid-column: 1 / span 5;
	display: flex;
	flex-flow: row;
	margin: 0 auto;
}
#shortcuts a {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin-right: 1em;
	border: solid thin;
	border-radius: 4px;
	padding: 1em;
	aspect-ratio: 1 / 1 !important;
}
.ico-img {
	width: 2em;
	outline: 0;
}
.shortcut-name {
	margin-top: 0.5em;
	display: none;
}
